[Unit]
Description = Lily server

[Service]
ExecStart = /var/src/magnolia-raspberrypi/start_camera.sh
Restart = always
Type = simple
WorkingDirectory=/var/src/magnolia-raspberrypi

[Install]
WantedBy = multi-user.target

